.auth-container {
  position: absolute;
  top: 7em;
  left: 50%;
  translate: -50% 0;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  border: 3px solid var(--medium);
  border-radius: .3em;
}

.auth-header {
  margin-bottom: .5em;
}

.auth-title {
  margin-block: .5em;
}

.auth-subtitle {
  font-style: italic;
  font-size: .8rem;
}

.auth-switch {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.auth-input-group {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.auth-input-group label {
  display: none;
}

.auth-input-group input {
  width: 14em;
  border: 2px solid var(--medium);
  border-radius: .2em;
  background-color: var(--dark);
  color: var(--color);
}

.auth-input-group .invalid-message {
  font: italic .8rem serif;
  color: red;
}

.auth-status {
  font: .9rem sans-serif;
  color: var(--lightest)
}

.error-message {
  font: italic .9rem serif;
  color: red;
}

/* .error-message {
  font-family: serif;
  font-style: normal;
  background-color: rgb(174, 42, 42, .5);
  color: white
} */