.auth-container {
  position: absolute;
  top: 7em;
  left: 50%;
  translate: -50% 0;
  padding: 1em 1.5em;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.auth-header {
  margin-bottom: .5em;
}

.auth-title {
  margin-block: .5em;
}

.auth-subtitle {
  font-style: italic;
  font-size: .8rem;
}

.auth-switch {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
}

.auth-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

input.auth-input-group {
  width: 14em;
}

.auth-footer {
  margin-top: .5em;
}