:root {
  --bg-color: #ddd;
  --accent-bg-color: #666;
  --wallpaper: #999;
  --bdr-color: #333;

  --color: black;
  --ph-color: gray;
  --accent-color: white;
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;
  --accent-link-color: #84bef8;
  --accent-link-hover-color: white;

  --border-wide: 3px;
  --border-thin: 1px;

  --border-color: #e3e3e3;

  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --box-shadow: .4em .4em var(--box-shadow-color);

  /* font-size: 1.2rem; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.header {
  height: 3em;
}

.button {
  padding-block: .7em;
  padding-inline: 1em;
  cursor: pointer;
  /* padding-inline: .3em; */
  border: .15em outset var(--border-color);
  background-color: var(--bg-color);
  font-size: 1em;
  font-family: serif;
  color: var(--color)
}

.button:active {
  border-style: inset;
}

.button:disabled {
  cursor: default;
  color: var(--accent-bg-color) !important;
}

.input {
  font-size: 1rem;
}

.pill {
  padding: .2em .3em;
  border-radius: .3em;
  font-family: sans-serif;
  color: white;
}

.placeholder {
  color: gray;
}

.slide-right {
  position: absolute;
  height: 100%;
  translate: -100% 0;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

.j-c-center {
  justify-content: center;
}

.link {
  text-decoration: underline;
  color: var(--link-color);
}

.link:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

.link.plain {
  color: inherit;
}

.link.accent {
  color: var(--accent-link-color);
}

.link.accent:hover {
  color: var(--accent-link-hover-color);
}

input.editing:focus {
  outline: initial;
}

.button.red {
  background-color: red;
  border-top-color: #ffa0a0;
  border-left-color: #fe7777;
  border-bottom-color: #fe7777;
  border-right-color: #ffa0a0;
  color: white;
}

.button.edit {
  margin: 0;
  padding: 0;
  width: 1.6em;
  aspect-ratio: 1/1;
  border-radius: .3em;
  line-height: 1.4em;
}

.button.edit.active {
  border-style: inset;
  background-color: var(--accent-bg-color);
  color: var(--accent-color);
}