.header-content,
.main-content {
  width: 100%;
  padding-left: 2em;
}

header {
  height: 3em;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);

}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1em;
}

.display-state {
  opacity: .7;
  text-transform: capitalize;
}

.logo {
  font: bold 1.5rem var(--ff-serif);
}

main {
  /* height: 100%; */
  /* width: 100%; */
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  height: 100%;
}

.note-list {
  margin: 0;
  margin-top: .5em;
  margin-right: 2em;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: .3em;
  /* height: 100%; */
}

.note-list-header {
  display: flex;
  gap: 1em;
  align-items: center;
}

.note-list-header span {
  font: bold 1.1rem var(--ff-sans)
}

.note-list-item *:focus-within,
.note-title-wrapper *:focus-within {
  padding: none;
  margin: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color);
  font: inherit;
}

.note-list-item {
  cursor: pointer;
  position: relative;
  padding-left: .4em;
  border-radius: .3em;
  user-select: none;
}

.note-list-item.active,
.note-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.note-title-wrapper {
  padding-top: .3em;
  padding-left: .5em;
  background-color: #0d1117;
  font: 2rem var(--ff-serif);
  color: var(--color);
}
