@media screen and (min-width: 500px) {}

.app-state {
  opacity: .7;
  text-transform: capitalize;
}

.app {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  height: 100%;
  width: 100%;
}

.side-panel {
  padding: .3em 0 0;
  display: flex;
  flex-direction: column;
}

.side-panel-upper {
  overflow-y: scroll;
}

.search-wrapper {
  margin-block: .3em;
  padding-inline: .8em;
}

.search-bar {
  display: block;
  padding: .3em;
  padding-left: .5em;
  width: 100%;
  background-color: var(--dark);
  border: 2px solid var(--dark);
  border-radius: 999rem;
  font-size: .8rem;
  color: var(--color);
}

.list-wrapper {
  height: 100%;
  overflow: auto;
  padding-inline: 1em;
  padding-bottom: 3em;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.list-header {
  cursor: default;
  user-select: none;
  margin-block: .3em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.list-header span {
  font: bold 1.1rem var(--ff-sans)
}

.list-item :not(button):focus-within,
.note-title-wrapper :not(button):focus-within,
.note-tag :not(button):focus-within {
  padding: none;
  margin: none;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

.list-item {
  cursor: pointer;
  position: relative;
  padding-left: .4em;
  border-radius: .3em;
  user-select: none;
}

.list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-item.active {
  background-color: var(--accent);
  color: var(--accent-color)
}

.save-button-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-inline: .5em;
  margin-block: .5em;
}

.save-button {
  width: 100%;
}

.save-button:disabled {
  display: none;
}

.note-title-wrapper {
  padding-top: .3em;
  padding-inline: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  font: 2rem var(--ff-serif);
  color: var(--color);
}

.note-tag-list {
  padding: 0;
  padding-left: 1em;
  padding-bottom: .5em;
  margin: 0;
  display: flex;
  align-items: center;
  gap: .5em;
  list-style-type: none;
  background-color: var(--black);
}

.note-tag {
  padding: 0 .2em;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: .2em;
  font-size: 1.5rem;
  color: var(--light-color);
}

.note-tag:hover {
  cursor: pointer;
  color: var(--link-hover-color);
  text-decoration: underline;
}

.note-tag> :first-child> ::before {
  content: '#';
  color: inherit;
}