.container {
  width: clamp(300px, 80%, 1000px);
  height: clamp(400px, 60%, 800px);
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  box-shadow: var(--box-shadow);
  /* border: var(--border-thin) solid #333; */
  overflow: hidden;
}

@media (max-width: 550px) {
  .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .app {
    display: flex !important;
    flex-direction: column;
  }

  .side-bar-header-wrapper {
    border-right: none !important;
  }

  .side-bar {
    height: 30vh;
    border-right: none !important;
  }

  .note {
    flex: 1;
  }
}

.app {
  min-height: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 33% auto;
  grid-template-rows: minmax(3em, auto) 1fr;
}

.app>:nth-child(odd) {
  border-right: var(--border-wide) solid #333;
}

.tag-list {
  padding: .3em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: .3em;
}

#search-query {
  width: 100%;
  border: var(--border-thin) solid black;
  font-size: .9rem;
}

#search-placeholder {
  font: italic .8rem sans-serif;
  color: var(--accent-bg-color)
}