/*    ----    Global variables    ----    */

:root {
  --black: #0d1117;
  --darkest: rgb(0, 0, 0, 0.5);
  --darker: rgb(24, 8, 35);
  --dark: rgb(56, 19, 80);
  --medium: rgb(80, 25, 117);
  --light: rgb(136, 95, 163);
  --lighter: rgb(181, 149, 203);
  --lightest: rgb(221, 202, 234);
  --accent: rgb(247, 221, 136);
  --inactive: gray;

  --color: white;
  --ph-color: gray;
  --light-color: rgb(168, 70, 233);
  --accent-color: #0a0a0a;
  --link-color: rgb(247, 221, 136);
  --link-hover-color: white;
  --accent-link-color: #84bef8;
  --accent-link-hover-color: white;
  --invalid-color: red;

  --separator-border: rgba(128, 128, 128, 0.35);

  --ff-serif: 'Source Serif Pro', serif;
  --ff-sans: 'Source Sans Pro', sans-serif;
}

/*    ----    Global config    ----    */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: var(--color);
  font-size: 1.1rem;
  font-family: var(--ff-sans);
}

body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--darker);
}

/*    ----    UI config    ---    */

h3 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.button {
  cursor: pointer;
  width: min-content;
  padding-block: .5em;
  padding-inline: .7em;
  border: 2px solid var(--medium);
  border-radius: 9999px;
  font-size: .9rem;
  background-color: var(--medium);
  color: var(--color)
}

.button.small {
  padding-block: .2em;
  padding-inline: .5em;
}

.button:hover {
  border-color: var(--light);
  background-color: var(--light);
}

.button:active {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--accent-color);
}

.button:disabled,
.button:disabled:active {
  cursor: not-allowed;
  border-color: var(--inactive) !important;
  background-color: var(--inactive) !important;
  color: var(--color);
}

.input {
  font-size: 1rem;
}

.input:focus,
.button:focus {
  outline: none;
  border-color: var(--link-color);
}

.placeholder {
  color: var(--ph-color);
}

.slide-right {
  position: absolute;
  height: 100%;
  translate: -100% 0;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.d-flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

.j-c-center {
  justify-content: center;
}

.link {
  text-decoration: underline;
  color: var(--link-color);
}

.link:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

.link.plain {
  color: inherit;
}

.link.accent {
  color: var(--accent-link-color);
}

.link.accent:hover {
  color: var(--accent-link-hover-color);
}