.not-found-page {
  margin: 2em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.status-code {
  margin: 0;
  font: 7rem var(--ff-serif);
  opacity: .3;
}

.status-description h2 {
  margin: 0;
  font: 2rem var(--ff-serif);
}

.status-description span {
  font-size: 1rem;
}